* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #0c0c0c;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #088178;
}

h4 {
  font-size: 20px;
  color: #088178;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: #088178;
}

p {
  font-size: 16px;
  margin: 50px 0 20px 0;
  color: #088178;
}

.section-p1 {
  padding: 40px 80px;

}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  


}

.logo {
  background-color: #e3e6f3;
  height: 80px;
  width: 110px;
  padding-bottom: 0;
  padding-left: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* styling hero */
#hero {
  background-image: url(amna.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 80%;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;


}

#hero button {
  background-image: url(keith-misner-h0Vxgz5tyXA-unsplash.jpg);
  background-color: transparent;
  color: #f1f8f7;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  background-repeat: no-repeat;
  border-radius: 4px;
}

#featured .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;

}

#featured .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 60, 221, 0.1);
}

#featured .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  background-color: #fddde4;
}

#featured .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#featured {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#featured .fe-box:nth-child(2) h6 {
  background-color: #d6f3f1;
}

#featured .fe-box:nth-child(3) h6 {
  background-color: antiquewhite;
}

#featured .fe-box:nth-child(4) h6 {
  background-color: rgb(205, 247, 208);
}

#featured .fe-box:nth-child(5) h6 {
  background-color: #f9cde5;
}

#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .dest {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .dest span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .dest h5 {
  padding-top: 7px;
  font-size: 14px;
  color: #1a1a1a;
}

#product1 .pro .dest i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .dest h4 {
  font-size: 15px;
  font-weight: 700;
  padding-top: 7px;
  color: #088178;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #088178;
  border-radius: 50px;
  background-color: #e1f0e3;
border: 1px solid #cce7d0;
position: absolute;
bottom: 20px;
right: 10px;

}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#banner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(ban.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
color: rgb(74,68, 1);
font-size: 16px;
}
#banner h2{
  color: rgb(74, 68, 1);
  font-size: 30px;
  padding: 10px 0;
  }
  #banner h2 span{
    color: rgb(247, 133, 211);
  }
  button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #ffff;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
 }
 #banner button:hover{
  background-color:rgb(247, 133,211);
  color:#ffff;
 }
 #sm-banner .banner-box{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items:flex-start;
  background-image: url(a2.jpeg);
  min-width: 540px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
 }
 
 #sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  
 }
 #sm-banner h4{
  color: #151934;
  font-size:20px ;
  font-weight:300 ;
 }
 #sm-banner h2{
  color: #088178;
  font-size:28px ;
  font-weight:800 ;
 }
 #sm-banner span{
  color:#0d0f0f ;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
 }
 button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fefcfc;
  background-color:transparent;
  border-radius: 4px;
  border: 1px solid #fefcfc;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}
#sm-banner .banner-box:hover button{
background: #088178;
border: 1px solid #088178;
}
#sm-banner .banner-box2{
  background-image: url(banner.jpg);

  
}#banner-3 .banner-box{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items:flex-start;
  background-image: url(b3.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 30px;
 }
 #banner-3 h2{
  color:#7f9f37;;
  font-weight: 900;
  font-size: 22px;

 }
 #banner-3 h3{
  color: rgb(12, 10, 10);
  font-weight: 800;
  font-size: 15px;}
 #banner-3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
 }
 #banner-3 .banner-box2
 {
  background-image: url(w1.jpg);
  padding-right: 20px;
 }
 #banner-3 .banner-box3
 {
  background-image: url(w2.jpg);
 }
 #newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(u1.webp);
  background-position: 30% 60%;
  background-repeat: no-repeat;
  background-color: #0414e2;
  background-size: cover;
   
 }
 #newsletter h4{
  font-size:22px;
  font-weight:700;
  color:#088178;
 }
 #newsletter p{
  font-size:14px ;
  font-weight:600 ;
  color:#ecf6f5 ;
 }
 #newsletter p span{
  color:#f4d510;
 }
 #newsletter input{
  height: 3.125rem;
  padding: 0 0.125rem;
  font-size: 14px;
  width: 100%;
  border:1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: #088178;
  color: #ffff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter .form{
  display: flex;
  width: 40%;
}
.fot{
  font-size: 20px;
  height: 70px;
  width: 70px;
  margin-bottom: 30px;
}
.col h4{
  color: black;
}
.follow h4{
  color: #000;
}
.col p{
  color: #616161;
}
.e1{
  background-size: cover;
  height: 135px;
  width: 216x;
}
.e2{
  background-size: cover;
  height: 133px;
  width: 233px;
}
.e3{
  background-size: cover;
  height: 107px;
  width: 299px;
}
footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img{
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
  color: #088178;
  cursor: pointer;
}
footer .copyright{
  width: 100%;
  text-align: center;
}
footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer h4{
  font-size: 14px;
  margin-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color: #464b52;
  padding-right:4px;
  cursor: pointer;
}
#mobile {
  display:none;
  align-items: center;
}
#close{
  display: none;
}

/* madia quaries */
@media (max-width:799px){
  .section-p1{
    padding: 40px 40px;
  }
  #navbar{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right:-300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 30px;
  }
  #mobile{
    display: flex;
    align-items: center;
    margin-right: 61px;
  }
  #mobile i{
    padding-left: 20px;
    font-size: 24px;
  }

   #close{
    display: initial;
    position: absolute;
    font-size: 24px;
    top: 30px;
    left: 30px;
    color: #222;
   } 
  #lg-bag{
    display: none;
  }
  #hero {
    
    height: 70vh;
    padding: 0 80px;
    background-position: top 80% right 90%;
    }
    #featured{
      justify-content: center;

    }
    #featured .fe-box{
      margin: 15px 15px;
    }
    #product1 .pro-container{
      justify-content: center;
    }
    #product1 .pro{
      margin: 15px;
    }
    #banner{
      height: 20vh;
    }
    #sm-banner .banner-box{
      min-width:100%;
      height: 30vh;
    }
    #banner-3{
      padding: 0 40px;
    }
    #banner-3 .banner-box{
      width: 28%;
    }
    #sm-banner .banner-box2{
      margin-top: 20px;
    }
}
@media (max-width:477px) {
  #hero{
    padding: 0 20px;
    background-position: 35%;
  }
h1{
  color: white;
  font-size: 38px;
}
h2{
  font-size: 32px;
}
p{
 color:#088178;
}
.section-p1{
  padding: 20px;
}
#featured .fe-box{
  width: 155px;
  margin: 0 0 15px 0;
}
#featured{
  justify-content: space-between;
}
#product1 .pro{
  width: 100%;
}
#banner{
  height: 40vh;
}
#sm-banner .banner-box{
  height: 40vh;
}
#sm-banner .banner-box2{
  margin-top: 20px;
}
#banner-3{
  padding: 0 20px;
}
#banner-3 .banner-box{
  width: 100%;
}
#newsletter .form{
  width: 100%;
}

#newsletter h4{
  color:white;
}
#newsletter p{
  color: #b4c136;
}
#newsletter{
  padding: 40px 20px;
}
}